@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  /* box-sizing: border-box; */
  font-family: "Open Sans";
  width: 100%;
  height: 100%;
}

header {
  /* background-color: aquamarine; */
  width: 90%;
  margin: 2.7em auto;
  display: flex;
  justify-content: space-between;
}

header button {
  width: 9.5em;
  background: none;
  font-weight: 700;
  border-radius: 50px;
  border: 1.5px solid hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
}

.hero {
  width: 100%;
  margin: 7em auto 0;

  text-align: center;
  padding-bottom: 5em;
  background-image: url(images/bg-section-top-desktop-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.hero-image {
  width: 60%;
  height: 50%;
}

.hero-button {
  display: block;
}

.hero-heading {
  width: 65%;
  font-size: 2.5em;
  margin: 4em auto 2em;
}

.hero-para {
  width: 35%;
  padding: 0;
  margin: -4em auto 3em;
}

.hero-button {
  margin: -0.5em auto 5em;
  height: 4em;
  width: 22%;
  border-radius: 100vh;
  border: none;
  color: white;
  background: hsl(322, 100%, 66%);
  box-shadow: 0 9px 5px 0 rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}

.hero-stats {
  width: 60%;
  display: flex;
  margin: 8em auto 15em;
  justify-content: space-around;
}

.communities {
  width: 37%;
  height: 20rem;
}

.messages {
  width: 37%;
  height: 20rem;
}

.stats-icon {
  margin-left: -10rem;
}

.stat-heads {
  font-size: 5em;
}

.hero-stats p {
  color: grey;
}

/* !SECOND */

.second-container {
  background-color: hsl(207, 100%, 98%);
  height: 90vh;
  margin: -0.1em auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.second-image {
  width: 30%;
}

.second-info {
  width: 50%;
}

.second-info h1 {
  font-size: 2.5em;
}

.second-info p {
  width: 60%;

  margin-top: 1.5em;
}

.second-image {
  width: 30%;
  margin-left: -35em;
}

/* !THIRD */

.third-container {
  display: flex;
  background: url(./images/bg-section-bottom-desktop-1.svg),
    url(./images/bg-section-top-desktop-2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top, left bottom;
  padding-top: 10em;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  margin: 0 auto;
  width: 100%;
}

.third-image {
  margin-top: -9em;
  width: 30%;
  margin-left: 5em;
}

.third-info {
  margin-top: -9em;
  width: 40%;
  margin-right: -5em;
}

.third-info h1 {
  font-size: 2.5em;
}

.third-info p {
  width: 70%;

  margin-top: 1.5em;
}

/* !FOURTH */

.fourth-container {
  background-color: hsl(207, 100%, 98%);

  height: 90vh;
  margin: -2em auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.fourth-image {
  width: 30%;
}

.fourth-info {
  width: 50%;
}

.fourth-info h1 {
  font-size: 2.5em;
}

.fourth-info p {
  width: 60%;

  margin-top: 1.5em;
}

.fourth-image {
  width: 30%;
  margin-left: -35em;
}

/* !fifth */

.fifth {
  background: url(./images/bg-section-bottom-desktop-2.svg),
    url(./images/bg-footer-top-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top, left bottom;
  margin-bottom: 7em;
  height: 60vh;
  padding: 10em 0 15em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fifth-container {
  margin-top: 3em;
}

.fifth-heading {
  width: 100%;
  font-size: 2.5em;
  margin: 0 auto 2em;
}

.fifth-button {
  margin-left: 10em;
  height: 4em;
  width: 50%;
  border-radius: 100vh;
  border: none;
  color: white;
  background: hsl(322, 100%, 66%);
  box-shadow: 0 9px 5px 0 rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}

footer {
  margin-top: -7.1em;
  background-color: hsl(192, 100%, 9%);
  color: white;
}
